@import "../../../style/variables.scss";

.myField {
    display: flex;
    align-items: center;
    width: 100%;
    height: 34px;
    background: $input-background;
    border: $input-border;
    box-sizing: border-box;
    border-radius: $input-border-radius;
    padding: 12px 6px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    outline-style: none;
    color: $input-text-color;

    &:hover {
        border: 1px solid #415fd5;
    }
    &:active {
        background: $input-activ-background;
        border: 1px solid #415fd5;
    }
    &:disabled {
        background: $input-disabled-background;
        border: 1px solid #d6dce9;
    }
    &::placeholder {
        color: $input-placeholder-text-color;
    }
}

.form__eye {
    position: absolute;
    right: 0;
    top: 7px;
    border: 0;
    background-color: transparent;
    svg {
        width: 12px;
        height: 12px;
    }
}
