.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    padding: 0 24px;
    width: 20%;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text {
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    height: 24px;
    color: #535374;
}

.subText {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}